.principal__animacao {
  max-height: 100vh;
  height: 100vh;
  font-size: 2rem;
  font-weight: 300;
}

.agrupamento__animacao{
 border-radius: 2rem;
}

.mancha__animacao{
  background-image: url('../../images/Vector\ 4.png');
  background-size: cover;
  width: 31.4rem;
  height: 24.4rem;
} 
.mancha__animacao{
  transform: scale(.8);
}

.principal__animacao .mancha__animacao img{
  width: 10rem;
  background-color: transparent;
}

.principal__animacao, .mancha__animacao, .conteudo__animacao, .conteudo__animacao--pena, .conteudo__animacao div, .conteudo__animacao p, .conteudo__animacao span{
  background-color: transparent;
  color: var(--fundo);
}

@media (max-width: 1000px){
  .mancha__animacao{
    transform: scale(.7);
  }
}
@media (max-width: 700px){
  .mancha__animacao{
    transform: scale(.6);
  }
}
@media (max-width: 400px){
  .mancha__animacao{
    transform: scale(.5);
  }
}



