.principal__animacao {
  max-height: 100vh;
  height: 100vh;
}
.mancha__animacao{
  background-image: url('../../images/Vector\ 4.png');
  background-size: cover;
  width: 31.4rem;
  height: 24.4rem;
  /* background-color: aqua; */
} 

.principal__animacao .mancha__animacao img{
  width: 10rem;
  background-color: transparent;
}


.principal__animacao, .mancha__animacao, .conteudo__animacao, .conteudo__animacao--pena, .conteudo__animacao div, .conteudo__animacao p, .conteudo__animacao span{
  background-color: transparent;
  color: var(--fundo);
}

.container__animacao--digitacao {
  min-width: 10rem;
}

@media (max-width: 1000px){
  .mancha__animacao{
    transform: scale(.7);
  }
}
@media (max-width: 700px){
  .mancha__animacao{
    transform: scale(.5);
  }
}
@media (max-width: 400px){
  .mancha__animacao{
    transform: scale(.3);
  }
}



